@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

  --blue: #2D28FF;
  --white: #ffffff;
  --black: #000000;
  --gray-600: #C7C7C7;



}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: var(--white);
}

main {
  padding: 0 20px;
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}
