@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {

  --blue: #2D28FF;
  --white: #ffffff;
  --black: #000000;
  --gray-600: #C7C7C7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--white);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.dflex {
  display: flex;
}

.container {
  width: 100%;
  max-width: 960px;
  padding: 20px 0;
  margin: 0 auto;
}


